table {
    margin: 50px auto;
    width: 600px;
    border-collapse: collapse;
}

th {
     width: 300px;
     padding: 5px;
     background-color: #F0F0F0;
     border: 1px solid black;
     text-align: center;
     vertical-align: middle;
 }
td {
     padding: 5px;
     border: 1px dotted black;
     text-align: center;
     vertical-align: top;
 }